<main class="mx-tema min-h-[calc(100vh-80px)]">
  <h1 class="text-2xl text-center mt-[60px] mb-[40px]">
    Cadastre uma vaga em nosso site
  </h1>
  <form action="/jobs/add" method="post">
    <div class="relative">
      <input
        type="text"
        name="title"
        id="title"
        class="input-outlined peer"
        placeholder=" "
      />
      <label
        for="title"
        class="label-outlined peer-focus:px-2 peer-focus:text-red peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
      >Título da Vaga</label>
    </div>

    <div class="relative">
      <textarea
        name="description"
        id="description"
        class="input-outlined peer"
        placeholder=" "
      ></textarea>
      <label
        for="description"
        class="label-outlined peer-focus:px-2 peer-focus:text-red peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
      >Descrição da vaga</label>
    </div>
    <div class="relative">
      <input
        type="text"
        name="company"
        id="company"
        class="input-outlined peer"
        placeholder=" "
      />
      <label
        for="company"
        class="label-outlined peer-focus:px-2 peer-focus:text-red peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
      >Empresa Contratante</label>
    </div>
    <div class="relative">
      <input
        type="text"
        name="salary"
        id="salary"
        class="input-outlined peer"
        placeholder=" "
      />
      <label
        for="salary"
        class="label-outlined peer-focus:px-2 peer-focus:text-red peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
      >Salário oferecido</label>
    </div>
    <div class="relative">
      <input
        type="text"
        name="email"
        id="email"
        class="input-outlined peer"
        placeholder=" "
      />
      <label
        for="email"
        class="label-outlined peer-focus:px-2 peer-focus:text-red peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
      >Email para contato</label>
    </div>
    <div class="relative">
      <input
        type="text"
        name="new_job"
        id="new_job"
        class="input-outlined peer"
        placeholder=" "
      />
      <label
        for="new_job"
        class="label-outlined peer-focus:px-2 peer-focus:text-red peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
      >Essa vaga é nova?</label>
    </div>

    <button
      type="submit"
      class="bg-red w-full py-[10px] text-center text-white mb-[50px]"
    >
      Salvar nova vaga
    </button>
  </form>
  {{#if errors}}
    <div class="error-container" role="alert">
      <svg
        aria-hidden="true"
        class="flex-shrink-0 inline w-5 h-5 mr-3"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      ><path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"
        ></path></svg>
      <span class="sr-only">Alerta</span>
      <div>
        <span class="text-sm"><b>O formulário não pode ser enviado:</b></span>
        <ul class="mt-1.5 ml-4 list-disc list-inside">
          {{#each errors}}
            <li>{{msg}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</main>